---
import Layout from '../layouts/Layout.astro';

const pageTitle = "About Me";

const identity = {
  firstName: "Eric",
  country: "Canada",
  occupation: "Web Developer",
  hobbies: ["playing guitar", "playing drums", "reading"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;
---

<Layout title={pageTitle}>
	<main class="w-full h-screen justify-center flex flex-col items-center">
        <div class="flex space-x-4">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/blog/">Blog</a>
        </div>
		<h1 class="font-bold text-xl">This is the  <span class="text-6xl">{pageTitle}</span>page</h1>
		<p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}</li>
            <li>I live in {identity.country}</li>
            <li>I work as a {identity.occupation}</li>
            <li>I enjoy {identity.hobbies[0]} and {identity.hobbies[2]}</li>
            <p>My skills are:</p>
            
        </ul>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
            </ul>
            {happy && <p>I am happy to be learning Astro!</p>}

{finished && <p>I finished this tutorial!</p>}

{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
	</main>
</Layout>